* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;
}

:root {
    --h1-font: 4rem;
    --h2-font: 2.9rem;
    --p-font: 1 rem;
    --bg-color: #483c32;
    --text-color: #af9483;
    --main-color: #905d5d;
    --other-color: #d6d6d6;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 15%;
    /* upar neeche 30px right left 15% of parent element */
    transition: all .50s ease;
}

.logo img {
    height: auto;
    width: 100%;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 10px 25px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    transition: all .40s ease;
}

.navbar a:hover {
    color: var(--text-color);
}

.h-btn {
    display: flex;
    align-items: center;
}

.h-btn2 {
    display: inline-block;
    padding: 10px 18px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
    border-radius: 10px;
}

.h-btn1 {
    color: var(--other-color);
    font-size: 18px;
    font-weight: 500;
}

.h-btn2:hover {
    transform: scale(1.15);
}

#menu-icon {
    color: var(--text-color);
    font-size: 36px;
    margin-left: 5px;
    z-index: 2;
    cursor: pointer;
    display: none;
}

/* home section */
section {
    padding: 80px 20% 70px;
}

.home {

    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}


.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.25;
    margin-bottom: 20px;
}

.home-text p {
    position: relative;
    font-size: var(--p-font);
    color: var(--other-color);
    line-height: 25px;
    margin-bottom: 2.5rem;
}

.h-search form {
    position: relative;
    width: 410px;
    max-width: 100%;
}

.h-search form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 15px 13px 1px 15px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.h-search form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 50px, 80px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff, 0px 0px 15px #868686;
    top: 6px;
    right: 6px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.home-img {
    width: 700px;
    height: 500px;
}

header.sticky {
    padding: 8px 15%;
    background: #1d1713;
}

.feature {
    padding: 60px 10% 50px;
}

.center-left h2 {
    font-size: var(--h2-font);
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 4rem;
}

.f-img img {
    width: 100%;
    height: auto;
}

.property {
    padding: 60px 10% 50px;
}

.property-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4.5rem;
}

.row {
    position: relative;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: auto;
}

.row h5 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.row p {
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 20px;
}

.list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* Add this line */
}

.contact-btn-wrapper {
    width: 100%; /* Add this line */
}

.button {
    display: inline-block;
    padding: 12px 20px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px;
    width: 100%; /* Add this line */
}

/* .button {
    
    display: inline-block;
    padding: 12px 20px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px;
} */

/* .list {
    display: flex;
    align-items: center;
    gap: 2rem;
} */

.list a {
    color: var(--text-color);
    font-size: var(--p-font);
}

.Residence-list i {
    font-size: 18px;
    color: var(--main-color);
}

.center-btn {
    text-align: center;
    margin-top: 4rem;
}

.btn {
    display: inline-block;
    padding: 18px 28px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px;
}

.btn:hover {
    transform: translateY(-7px) scale(0.9);
}

/* about */
.about {
    padding: 60px 10% 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.about-img img {
    height: auto;
    width: 100%;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 25px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--other-color);
}

.about-text a {
    margin-top: 20px;
}

/* Subscribe */
.Subscribe-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url(WhatsApp\ Image\ 2024-03-08\ at\ 13.53.25.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 6rem 2rem;
}

.Subscribe-content h2 {
    font-size: var(--h2-font);
    margin-bottom: 12px;
}

.Subscribe-content p {
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 27px;
}

/* footer */
footer {
    width: 100%;
    position: absolute;
    background-color: #905d5d;
    background-image: linear-gradient(315deg, #905d5d 0%, #e2e1e15e 74%);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: var(--p-font);
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

footer .logo {
    width: 80px;
    margin-bottom: 30px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
}

footer form button .fas {
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #905d5d;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 1790px) {
    header {
        padding: 18px 6%;
    }

    section {
        padding: 70px 6% 60px;
    }

    header .sticky {
        padding: 7px 6%;
    }

    .feature {
        padding: 40px 6% 30px;
    }
}

@media (max-width: 1425px) {
    :root {
        --h1-font: 4.5rem;
        --h2-font: 2.9rem;
        --p-font: 1rem;
    }

    .home-img {
        width: 540px;
        height: 540px;
    }

    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    header {
        padding: 15px 5%;
    }

    section {
        padding: 70px 5% 60px;
    }

    header .sticky {
        padding: 7px 5%;
    }

    .feature {
        padding: 150px 3% 30px;
    }
}

@media (max-width:1170px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #58483b;
        padding: 20px 15px;
        gap: 0.5rem;
        text-align: left;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        font-size: 20px;
        padding: 15px;
    }

    .navbar .open {
        right: 0;
    }

    :root {
        --h1-font: 4rem;
        --h2-font: 2rem;
        --p-font: 1rem;
    }

    .home {
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 120vh;
    }

    .home-text {
        order: 2;
        width: 100%;
        max-width: 900px;
    }

    .home-img {
        width: 480px;
        height: 480px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .about {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 570px) {
    :root {
        --h1-font: 3.4rem;
        --h2-font: 2rem;
        --p-font: 15px;
    }

    .home {
        gap: 15px;
        height: 110vvh;
    }

    .home-img {
        width: 400px;
        height: 400px;
        padding-top: 10px;
    }

    .Subscribe-content {
        padding: 4rem 1rem;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    footer .col {
        flex-basis: 100%;
    }

    footer .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%
    }
}